/* App.css */

/* Header */
.header {
    background-color: #333333;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 40px;
  }
  
  /* Invoice Form */
  
  
  .invoice-form {
    margin-left: 80px;
    
    width: 80%; /* Adjust the width as needed */
    max-width: 1000px; /* Add a maximum width to prevent it from becoming too wide */
    background-color: #ffffff;
    padding: 20px; /* Adjust the padding as needed */
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    left: 20px;
  }
  
 
  /* ... (other styles) */
  
  
  /* Rest of your existing styles... */
  