/* Header.css */
/* Header.css */

.header {
    background-color: #333333; /* Light black background */
    color: #ffffff; /* White text color */
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
  }
  
  